:root {
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f5f5f5;
  background-color:rgb(189, 159, 159);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background:rgb(212, 206, 206);
}

a {
  color: inherit;
}
 
